@font-face {
  font-family: 'Condens';
  src: url('../fonts/Condens-Bold.woff2') format('woff2'),
  url('Condens-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}