.start {
  margin-top: 50px;
  @media (max-width: 1300px) {
    margin-top: 40px;
  }
  @include r($lg) {
    margin-top: 30px;
  }
  @include r($phone) {
    margin-top: 25px;
  }

  &__nav {
    margin-bottom: 60px;
    position: relative;
    z-index: 23;
  }

  &__links {
    @include flex-column(10);
    align-items: flex-end;
    @include r($lg) {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
  }

  &__link {
    line-height: 1;
    padding-bottom: 7px;
    transition: color .4s, opacity .4s;
    position: relative;
    color: inherit;
    display: flex;
    font-size: 22px;
    @include r($tablet) {
      padding-bottom: 0;
    }

    &:focus {
      opacity: .5;
    }

    &:hover {
      color: $accent;
      cursor: url('../images/cursor.png'), none;

      &::after {
        width: 100%;
      }
    }

    &:active {
      opacity: 1;
      color: #bb0271;
    }

    &::after {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $accent;
      transition: width .4s;
      @include r($tablet) {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    margin-top: -70px;
    @include r($lg) {
      margin-top: 100px;
    }
    @media (max-width: 650px) {
      margin-top: 70px;
    }
  }

  &__slogan, &__subtitle {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
    line-height: 1;
  }

  &__slogan {
    font-size: 24px;
    margin-bottom: 14px;
    color: $accent;
    @include r($tablet) {
      font-size: 22px;
      margin-bottom: 5px;
    }
    @include r($sm) {
      font-size: 20px;
    }
    @include r($phone) {
      margin-bottom: 2px;
      font-size: 18px;
      font-weight: 100;
    }
  }

  &__subtitle {
    font-family: $condens;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 25px;
    @include r($tablet) {
      font-size: 60px;
    }
    @include r($sm) {
      margin-bottom: 20px;
    }
    @include r($phone) {
      margin-bottom: 15px;
      font-size: 56px;
    }
  }

  &__arrow {
    @include bg;
    position: absolute;
    right: 11.6%;
    top: -70px;
    width: 180px;
    transform: rotate(380deg);
    flex-shrink: 0;
    @media (max-height: 830px) {
      top: -20px;
      transform: rotate(20deg);
    }
    @media (max-width: 1400px) {
      top: -40px;
      transform: rotate(370deg);
    }
    @media screen and (max-width: 1400px) and (max-height: 805px) {
      transform: rotate(3deg);
    }
    @include r($desktop) {
      width: 165px;
      top: -30px;
    }
    @include r($lg) {
      width: 150px;
      transform: scaleX(-1) rotate(340deg);
      top: -80px;
      right: 21%;
    }
    @media (max-width: 900px) {
      right: 17%;
    }
    @media (max-width: 830px) {
      right: 15%;
    }
    @include r($tablet) {
      right: 14%;
    }
    @media (max-width: 650px) {
      display: none;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    @include r($lg) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    @include r($phone) {
      margin-bottom: 16px;
    }

    span {
      margin-top: -7px;
      margin-left: -2px;
      font-size: 308px;
      line-height: 1;
      font-family: $condens;
      color: transparent;
      -webkit-text-stroke-color: $white;
      text-transform: uppercase;
      @media (-webkit-max-device-pixel-ratio: 2) and (max-resolution: 191dpi) and (min-width: 651px) {
        -webkit-text-stroke-width: 1px;
      }
      @media (-webkit-max-device-pixel-ratio: 1) and (max-resolution: 191dpi) and (min-width: 651px) {
        -webkit-text-stroke-width: 2.5px;
      }
      @media (-webkit-max-device-pixel-ratio: 1) and (max-resolution: 191dpi) and (max-width: 650px) {
        -webkit-text-stroke-width: 2px;
      }
      @media (min-width: 1071px) {
        -webkit-text-stroke-width: 2.5px;
      }
      @media (max-width: 1240px) {
        font-size: 298px;
      }
      @media (max-width: 1140px) {
        font-size: 280px;
      }
      @media (max-width: 1070px) {
        font-size: 260px;
        -webkit-text-stroke-width: 1.5px;
      }
      @media (max-height: 770px) {
        font-size: 260px;
      }
      @include r($lg) {
        margin-top: -100px;
      }
      @media (max-width: 830px) {
        margin-top: -150px;
        font-size: 324px;
      }
      @include r($tablet) {
        font-size: 300px;
        -webkit-text-stroke-width: 3px;
      }
      @media (max-width: 700px) {
        font-size: 274px;
        margin-top: -140px;
      }
      @media (max-width: 660px) {
        font-size: 258px;
        margin-top: -120px;
      }
      @include r($sm) {
        margin-top: -110px;
        font-size: 240px;
      }
      @media (max-width: 530px) {
        font-size: 226px;
      }
      @include r($phone) {
        font-size: 210px;
        margin-top: -90px;
        -webkit-text-stroke-width: 0.7px;
      }
      @media (max-width: 440px) {
        font-size: 204px;
      }
      @media (max-width: 400px) {
        font-size: 198px;
      }
      @media (max-width: 380px) {
        font-size: 182px;
      }
      @media (max-width: 360px) {
        font-size: 176px;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    object-fit: contain;
    position: relative;
    z-index: 20;
    @media (max-width: 1450px) {
      width: 630px;
      height: auto;
    }
    @media (max-width: 1330px) {
      width: 590px;
    }
    @media (max-width: 1240px) {
      width: 530px;
    }
    @media (max-width: 1140px) {
      width: 480px;
    }
    @media (max-width: 1070px) {
      width: 430px;
    }
    @media (max-height: 770px) {
      height: auto;
      width: 430px;
    }
    @media (max-width: 830px) {
      width: 630px;
    }
    @include r($tablet) {
      width: 530px;
    }
    @media (max-width: 700px) {
      width: 510px;
    }
    @media (max-width: 660px) {
      width: 470px;
    }
    @include r($sm) {
      width: 450px;
    }
    @media (max-width: 530px) {
      width: 420px;
    }
    @include r($phone) {
      width: 400px;
    }
    @media (max-width: 440px) {
      width: 385px;
    }
    @media (max-width: 400px) {
      width: 350px;
    }
  }

  &__contacts {
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    @media (max-height: 930px) {
      margin-bottom: 110px;
    }
    @media (max-width: 1450px) {
      margin-top: -40px;
      margin-bottom: 110px;
    }
    @media (max-height: 890px) {
      margin-bottom: 90px;
    }
    @media (max-height: 860px) {
      margin-bottom: 65px;
    }
    @media (max-height: 790px) {
      margin-bottom: 45px;
    }
    @media (max-width: 1330px) {
      margin-top: -10px;
    }
    @include r($lg) {
      margin-bottom: 80px;
    }
    @include r($tablet) {
      margin-bottom: 70px;
    }
    @include r($phone) {
      margin-bottom: 95px;
    }

    &-title {
      text-transform: uppercase;
      font-family: $condens;
      line-height: 1;
      font-size: 140px;
      margin-bottom: 15px;
      color: transparent;
      -webkit-text-stroke: 1px $accent;
      @media (max-height: 780px) {
        margin-bottom: 10px;
      }
      @include r($desktop) {
        margin-bottom: 0;
      }
      @include r($lg) {
        margin-bottom: -8px;
        font-size: 130px;
      }
      @include r($tablet) {
        font-size: 120px;
      }
      @media (max-width: 650px) {
        font-size: 108px;
        margin-bottom: -2px;
      }
      @include r($sm) {
        font-size: 100px;
      }
      @media (max-width: 510px) {
        font-size: 90px;
      }
      @include r($phone) {
        -webkit-text-stroke-width: 0.7px;
        font-size: 86px;
      }
    }

    &-links {
      display: flex;
      gap: 170px;
      position: relative;
      z-index: 20;
      @media (max-width: 1400px) {
        gap: 140px;
      }
      @include r($desktop) {
        gap: 110px;
      }
      @include r($lg) {
        gap: 80px;
      }
      @media (max-width: 900px) {
        gap: 65px;
      }
      @media (max-width: 840px) {
        gap: 55px;
      }
      @media (max-width: 650px) {
        align-items: center;
        flex-direction: column;
        gap: 22px;
      }
    }

    &-link {
      font-size: 28px;
      transition: color .4s, opacity .4s;
      @media (max-height: 830px) {
        font-size: 26px;
      }
      @media (max-height: 780px) {
        font-size: 24px;
      }
      @media (max-width: 1400px) {
        font-size: 26px;
      }
      @media (max-width: 1300px) {
        font-size: 24px;
      }
      @media (max-width: 830px) {
        font-size: 22px;
      }
      @media (max-width: 700px) {
        font-size: 20px;
      }

      span {
        color: $accent;
        transition: color .4s, opacity .4s;
      }

      &:focus {
        opacity: .5;
      }

      &:hover {
        color: $accent;
      }

      &:active {
        opacity: 1;
        color: #bb0271;

        span {
          color: #bb0271;
        }
      }
    }
  }

  &__author {
    text-align: center;
    max-width: 160px;
    margin: 0 auto 40px;
    line-height: 1.32;
    font-size: 12px;
    font-weight: 100;
    @include r($lg) {
      margin-bottom: 25px;
    }
    @media (max-height: 890px) {
      margin-bottom: 25px;
    }

    span {
      display: block;
      color: $accent;
    }
  }
}